/*
	Theme Name: CanaBlue
	Theme URI: http://Canablue.com
	Description: CanaBlue Wordpress Theme
	Version: 1.0
	Author: Jean Fondeur
	Author URI: https://jeanfondeur.com
	Tags: Blank, HTML5, CSS3, SCSS, BOOTSTRAP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
@import url("bootstrap/bootstrap.css");
/* line 63, css/sass/style.scss */
html, body {
  font-family: "Open Sans", sans-serif;
}

/* line 67, css/sass/style.scss */
img {
  max-width: 100%;
}

/* line 71, css/sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 77, css/sass/style.scss */
.btn {
  border-radius: 0;
}

/* line 81, css/sass/style.scss */
.btn-primary {
  background: #16355e;
  border-color: #16355e;
}

/* line 88, css/sass/style.scss */
.badge-primary {
  background: #1B4073;
  font-weight: normal;
}

/* line 93, css/sass/style.scss */
.optin {
  padding: 50px 0;
  background: #1B4073;
}
/* line 96, css/sass/style.scss */
.optin h5 {
  color: white;
}
/* line 97, css/sass/style.scss */
.optin p {
  color: white;
}
/* line 98, css/sass/style.scss */
.optin form {
  padding-top: 20px;
}
/* line 100, css/sass/style.scss */
.optin form input.form-control, .optin form .contactForm #gform_wrapper_1 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .contactForm #gform_wrapper_1 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .optin form .contactFormMobile #gform_wrapper_1 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .contactFormMobile #gform_wrapper_1 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactForm #gform_wrapper_2 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_2 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactFormMobile #gform_wrapper_2 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_2 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactForm #gform_wrapper_3 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_3 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactFormMobile #gform_wrapper_3 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_3 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactForm #gform_wrapper_4 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_4 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.optin form .contactFormMobile #gform_wrapper_4 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_4 .optin form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  border-radius: 0 !important;
  margin-right: 0 !important;
}

/* line 108, css/sass/style.scss */
.grid div[class^="col"] {
  position: relative;
}
/* line 111, css/sass/style.scss */
.grid div[class^="col"] a > div {
  background: #1B4073;
  background-size: cover !important;
  padding: 90px 0;
  color: white;
}
/* line 116, css/sass/style.scss */
.grid div[class^="col"] a > div hr {
  border-color: white;
  width: 70%;
}

/* line 126, css/sass/style.scss */
.grid .buy {
  background: url("img/buy.jpg") !important;
}
/* line 129, css/sass/style.scss */
.grid .sell {
  background: url("img/sell.jpg") !important;
}
/* line 132, css/sass/style.scss */
.grid .rentals {
  background: url("img/rentals.jpg") !important;
}
/* line 135, css/sass/style.scss */
.grid .legal {
  background: url("img/legal.jpg") !important;
}
/* line 138, css/sass/style.scss */
.grid .renovations {
  background: url("img/renovations.jpg") !important;
}

/* line 143, css/sass/style.scss */
.aboutPamela {
  padding: 150px 0;
  background: url("img/whirlpool.png");
  color: #1B4073;
}
/* line 147, css/sass/style.scss */
.aboutPamela h4 {
  padding-top: 45px;
}

/* line 153, css/sass/style.scss */
.card {
  margin-bottom: 30px;
  position: relative;
}
/* line 156, css/sass/style.scss */
.card h5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 161, css/sass/style.scss */
.card a {
  color: #1B4073;
}

/* line 166, css/sass/style.scss */
.cardP {
  margin-bottom: 30px;
  position: relative;
}
/* line 169, css/sass/style.scss */
.cardP h5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 174, css/sass/style.scss */
.cardP a {
  color: #1B4073;
}

/* fluid 4 columns */
/* line 180, css/sass/style.scss */
.grid-item {
  width: 22%;
}

/* fluid 4% gutter */
/* line 182, css/sass/style.scss */
.gutter-sizer {
  width: 4%;
}

/* line 184, css/sass/style.scss */
.grid-item--width2 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 184, css/sass/style.scss */
  .grid-item--width2 {
    width: 48%;
  }
}
@media (min-width: 992px) {
  /* line 184, css/sass/style.scss */
  .grid-item--width2 {
    width: 32%;
  }
}

/* line 198, css/sass/style.scss */
.topHeader {
  padding: 0 1.6rem;
}
/* line 200, css/sass/style.scss */
.topHeader a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #1B4073;
}

/* line 207, css/sass/style.scss */
.navbar {
  line-height: 0;
  padding-top: 0;
  border-bottom: 1px solid #1B4073;
}
/* line 211, css/sass/style.scss */
.navbar .navbar-brand {
  padding-bottom: 14px;
}
/* line 213, css/sass/style.scss */
.navbar .navbar-brand img {
  width: 80%;
}

/* line 223, css/sass/style.scss */
.footer {
  background: #1B4073;
  padding: 50px 0;
}
/* line 226, css/sass/style.scss */
.footer * {
  color: white;
}
/* line 229, css/sass/style.scss */
.footer img {
  margin-bottom: 25px;
}
/* line 232, css/sass/style.scss */
.footer hr {
  border-color: white;
}
/* line 237, css/sass/style.scss */
.footer ul li {
  line-height: 2.2;
}
/* line 239, css/sass/style.scss */
.footer ul li a {
  font-weight: 300;
}

/* line 250, css/sass/style.scss */
.heroHome {
  background: url("img/heroHome.jpg");
  background-size: cover;
  position: relative;
  padding: 250px 0;
}
/* line 255, css/sass/style.scss */
.heroHome img {
  position: absolute;
  bottom: 30px;
  margin: auto;
  top: initial;
  left: 0;
  right: 0;
  width: 20px;
}
/* line 265, css/sass/style.scss */
.heroHome h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: -1px 0px 2px #969696;
}

/* line 274, css/sass/style.scss */
.homeSection, .buySection {
  padding: 100px 0;
  color: #1B4073;
}

/* line 284, css/sass/style.scss */
.buySection {
  padding-bottom: 50px;
}

/* line 289, css/sass/style.scss */
.buyListing {
  padding-top: 0;
}

/* line 298, css/sass/style.scss */
.unitHero {
  background: url("img/unit.jpg");
  background-size: cover;
}
/* line 301, css/sass/style.scss */
.unitHero .opacityBg {
  background: rgba(255, 255, 255, 0.8);
  color: #1B4073;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 308, css/sass/style.scss */
.unitHero .opacityBg a {
  color: #1B4073;
}
/* line 311, css/sass/style.scss */
.unitHero .opacityBg p {
  margin-bottom: 5px;
}
/* line 316, css/sass/style.scss */
.unitHero .container .col-4 {
  position: relative;
}

/* line 324, css/sass/style.scss */
.contactForm, .contactFormMobile {
  display: none;
  background: white;
  border-radius: 20px;
  padding: 30px 25px;
  position: absolute;
  bottom: -210px;
  /* Rectangle 13: */
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.34);
}
@media (min-width: 992px) {
  /* line 324, css/sass/style.scss */
  .contactForm, .contactFormMobile {
    display: block;
  }
}
/* line 336, css/sass/style.scss */
.contactForm p, .contactFormMobile p {
  margin-bottom: 0;
  font-size: 14px;
}
/* line 340, css/sass/style.scss */
.contactForm a, .contactFormMobile a {
  color: #1B4073;
  font-size: 14px;
}
/* line 344, css/sass/style.scss */
.contactForm #gform_wrapper_1, .contactFormMobile #gform_wrapper_1,
.contactForm #gform_wrapper_2,
.contactFormMobile #gform_wrapper_2,
.contactForm #gform_wrapper_3,
.contactFormMobile #gform_wrapper_3,
.contactForm #gform_wrapper_4,
.contactFormMobile #gform_wrapper_4 {
  margin-bottom: 0;
}
/* line 350, css/sass/style.scss */
.contactForm #gform_wrapper_1 ul > li, .contactFormMobile #gform_wrapper_1 ul > li,
.contactForm #gform_wrapper_2 ul > li,
.contactFormMobile #gform_wrapper_2 ul > li,
.contactForm #gform_wrapper_3 ul > li,
.contactFormMobile #gform_wrapper_3 ul > li,
.contactForm #gform_wrapper_4 ul > li,
.contactFormMobile #gform_wrapper_4 ul > li {
  padding-right: 0;
}
/* line 354, css/sass/style.scss */
.contactForm #gform_wrapper_1 label, .contactFormMobile #gform_wrapper_1 label,
.contactForm #gform_wrapper_2 label,
.contactFormMobile #gform_wrapper_2 label,
.contactForm #gform_wrapper_3 label,
.contactFormMobile #gform_wrapper_3 label,
.contactForm #gform_wrapper_4 label,
.contactFormMobile #gform_wrapper_4 label {
  display: none;
}
/* line 358, css/sass/style.scss */
.contactForm #gform_wrapper_1 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), .contactFormMobile #gform_wrapper_1 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_2 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_2 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_3 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_3 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactForm #gform_wrapper_4 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.contactFormMobile #gform_wrapper_4 input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  font-size: 14px;
  width: 100%;
}
/* line 364, css/sass/style.scss */
.contactForm #gform_wrapper_1 textarea, .contactFormMobile #gform_wrapper_1 textarea,
.contactForm #gform_wrapper_2 textarea,
.contactFormMobile #gform_wrapper_2 textarea,
.contactForm #gform_wrapper_3 textarea,
.contactFormMobile #gform_wrapper_3 textarea,
.contactForm #gform_wrapper_4 textarea,
.contactFormMobile #gform_wrapper_4 textarea {
  font-size: 14px;
}
/* line 368, css/sass/style.scss */
.contactForm #gform_wrapper_1 .gform_button, .contactFormMobile #gform_wrapper_1 .gform_button,
.contactForm #gform_wrapper_2 .gform_button,
.contactFormMobile #gform_wrapper_2 .gform_button,
.contactForm #gform_wrapper_3 .gform_button,
.contactFormMobile #gform_wrapper_3 .gform_button,
.contactForm #gform_wrapper_4 .gform_button,
.contactFormMobile #gform_wrapper_4 .gform_button {
  width: 100%;
}

/* line 375, css/sass/style.scss */
.contactFormMobile {
  position: initial;
  display: none;
}
@media (max-width: 768px) {
  /* line 375, css/sass/style.scss */
  .contactFormMobile {
    display: block;
  }
}

/* line 384, css/sass/style.scss */
.unitDetails {
  padding: 50px 0;
}
/* line 387, css/sass/style.scss */
.unitDetails .saleBenefits .taxes {
  font-weight: bold;
}
@media (max-width: 767px) {
  /* line 392, css/sass/style.scss */
  .unitDetails .mainInfo table {
    font-size: 13px;
  }
}
/* line 399, css/sass/style.scss */
.unitDetails .item img {
  height: auto;
}

/* line 405, css/sass/style.scss */
.unitMap {
  color: #1B4073;
}
/* line 407, css/sass/style.scss */
.unitMap .map {
  height: 500px;
  background: #081220;
}

/* line 420, css/sass/style.scss */
body.tax-location .locationHeading {
  text-transform: capitalize;
  color: #1B4073;
  padding: 50px 0;
}

/* line 432, css/sass/style.scss */
.heroSell {
  padding: 170px 0;
}
/* line 434, css/sass/style.scss */
.heroSell h1 {
  text-align: center;
  line-height: 1;
  text-shadow: -1px 0px 2px #969696;
}
/* line 438, css/sass/style.scss */
.heroSell h1 span {
  font-size: 40px;
}

/* line 446, css/sass/style.scss */
.localExpert {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 449, css/sass/style.scss */
.localExpert h2, .localExpert p {
  text-align: center;
}
/* line 450, css/sass/style.scss */
.localExpert .ownersForm {
  text-align: center;
}
/* line 453, css/sass/style.scss */
.localExpert .ownersForm #gform_wrapper_3 #gform_submit_button_3 {
  width: 50%;
  margin: auto;
  display: block;
}
/* line 458, css/sass/style.scss */
.localExpert .ownersForm #gform_wrapper_3 label {
  display: none;
}
/* line 462, css/sass/style.scss */
.localExpert .ownersForm #gform_wrapper_3 .gfield {
  display: inline-block;
  width: 50%;
}
/* line 465, css/sass/style.scss */
.localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container {
  width: 100%;
}
/* line 467, css/sass/style.scss */
.localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container input, .localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container select {
  width: 100%;
}

/* line 482, css/sass/style.scss */
#contactModal .modal-title {
  color: #1B4073;
}
/* line 485, css/sass/style.scss */
#contactModal .contactForm, #contactModal .contactFormMobile {
  position: initial;
  box-shadow: none;
  display: block;
  padding-bottom: 0;
}
/* line 492, css/sass/style.scss */
#contactModal .model-body {
  padding-bottom: 0;
}
/* line 495, css/sass/style.scss */
#contactModal .mfooter {
  padding: 0 20px 20px 20px;
  display: block;
}
/* line 498, css/sass/style.scss */
#contactModal .mfooter h5, #contactModal .mfooter p, #contactModal .mfooter a {
  color: #1B4073 !important;
  display: block;
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
}
/* line 504, css/sass/style.scss */
#contactModal .mfooter h5 i, #contactModal .mfooter p i, #contactModal .mfooter a i {
  color: #1B4073;
}
